.square {
  color: transparent;
  border: 1px solid lightgray;
  overflow: hidden;
  height: 1em;
  width: 1em;
  text-align: center;
}

.square.pebble.clonable {
  color: red;
}

.square.pebble {
  color: rgba(255, 0, 0, 0.5);
}
