.square {
  color: transparent;
  border: 1px solid lightgray;
  font-size: 200%;
  height: 1em;
  width: 1em;
  text-align: center;

  /* usually provided by `fa` class */
  display: inline-block;
  line-height: 1em;
  font-family: FontAwesome;
}

.square.pebble.clonable {
  color: red;
}

.square.pebble {
  color: rgba(255, 0, 0, 0.5);
}
